<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functioncertificatek2m.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3dd1f92e-d53f-4451-b4f1-ddace49c95ba/resourcegroups/api-certificate/providers/Microsoft.Web/sites/FunctionCertificateK2M</ResourceId>
    <UserName>$FunctionCertificateK2M</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functioncertificatek2m.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>